@using SimpleAuth.Pages
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <PageTitle>Simple Auth</PageTitle>

        
    <!-- Background image -->
    <div class="relative overflow-hidden bg-no-repeat bg-cover" style="background-position: 50%; background-image: url('/images/sky1.webp'); height: 250px;">
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.25)">
        <div class="flex justify-center items-center h-full">
          <div class="text-center text-white px-6 md:px-12">
            <h1 class="text-5xl font-bold mt-0 mb-6">Simple Authentication Demo</h1>
            <h3 class="text-3xl font-bold mb-8"></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->

    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
        
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>
