@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity!.Name </p>
    </Authorized>

    <NotAuthorized>
        <p>You are signed out!!</p>
    </NotAuthorized>    
</AuthorizeView>

@code{

}

